body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.carousel-caption.top {
  padding-bottom: 50%;
}


table {
  margin: 15px;
}

img.artist {
  height: 80% !important;
  max-width: 60% !important;
  left: 3vw;
  top: 3vh;
  position: absolute;
  border-width: 3px;
  border-radius: 24px;
  border-color: white;
  border-style: solid;
}

.item {
  position:absolute;
  height: 70vh !important;
  position: relative;
  background-color: black;
}

td {
  text-align: right;
}

table {
  color: white;
  width: 25% !important;
  position:absolute;
  top: 3vh;
  right: 3vw;
}

.glyphicon-chevron-left {
  position: absolute;
  left: 16% !important;
}

.glyphicon-chevron-right {
  position: absolute;
  right: 16% !important;
}

.nav {
  position: absolute;
  bottom: 25vh;
  right: 5vw;
  text-align: right;
}

.carousel-control {
  width: 7%;
}
