doctype html
html
  head
    title Bootstrap Example
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css")
    link(rel="stylesheet" href="/stylesheets/style.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js")
    link(rel='icon', type='image/ico', href='/images/favicon.ico')
  body
    .container
      h2 Concerts Coming to #{location}
      div(id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false")
        //- <!-- Indicators -->
        ol(class="carousel-indicators")
          each show, index in shows.length ? shows : ['No shows retrieved']
            li(data-target="#myCarousel" data-slide-to=index class="indicator")
        //- <!-- Wrapper for slides -->
        .carousel-inner
          each show in shows.length ? shows : ['No shows retrieved']
            //- .item(style='background-image: url("' + show.artist.image_url + '");')
            .item
              img.artist(src=show.artist.image_url alt=show.artist.name)
              .carousel-caption.nav
                h1.artistName= show.artist.name
                button(class="btn btn-default btn-default" 
                  id=show.artist.top_track.spotify_id)
                  span(class="glyphicon glyphicon-play")
              table.table.table-dark
                  tr
                    td Artist
                    td= show.artist.name
                  tr
                    td Venue
                    td= show.venue.name
                  tr
                    td TrackName
                    td= show.artist.top_track.name
                  tr
                    td Date
                    td= show.date
        <!-- Left and right controls -->
        a(class="left carousel-control" href="#myCarousel" data-slide="prev")
            span(class="glyphicon glyphicon-chevron-left")
            span(class="sr-only") Previous
        
        a(class="right carousel-control" href="#myCarousel" data-slide="next")
            span(class="glyphicon glyphicon-chevron-right")
            span(class="sr-only") Next            
    script(src="https://sdk.scdn.co/spotify-player.js")
    script.
      $(".item")[0].className = "item active"
      $(".indicator")[0].className = "indicator active"
    script.
        window.onSpotifyWebPlaybackSDKReady = () => {
            const token = "#{access_token}";
            window.player = new Spotify.Player({
                name: 'Web Playback SDK Quick Start Player',
                getOAuthToken: cb => { cb(token); }
            });

            // Logic for playing a song:
            window.play = ({
                spotify_uri,
                playerInstance: {
                    _options: {
                        getOAuthToken,
                        id
                    }
                }
            }) => {
                getOAuthToken(access_token => {
                    fetch(`https://api.spotify.com/v1/me/player/play?device_id=${id}`, {
                        method: 'PUT',
                        body: JSON.stringify({ uris: [spotify_uri] }),
                        headers: {
                            'Content-Type': 'application/json',
                            'Authorization': `Bearer ${access_token}`
                        },
                    });
                });
            };

            // Error handling
            window.player.addListener('initialization_error', ({ message }) => { console.error(message); });
            window.player.addListener('authentication_error', ({ message }) => { console.error(message); });
            window.player.addListener('account_error', ({ message }) => { console.error(message); });
            window.player.addListener('playback_error', ({ message }) => { console.error(message); });

            // Playback status updates
            window.player.addListener('player_state_changed', state => { console.log(state); });

            // Ready
            window.player.addListener('ready', ({ device_id }) => {
                console.log('Ready with Device ID', device_id);
            });

            // Not Ready
            window.player.addListener('not_ready', ({ device_id }) => {
                console.log('Device ID has gone offline', device_id);
            });

            // Connect to the player!
            window.player.connect();
            
            window.playTrack = function(trackID){
              console.log('Tryna play ' + trackID);
              window.play({
                  playerInstance: player,
                  spotify_uri: 'spotify:track:' + trackID,
              });
            }
            
            var buttons = document.getElementsByTagName("button");
            console.log(buttons);
            for(var i=0; i<buttons.length; i++){
              if(buttons[i].id){
                buttons[i].addEventListener("click", function(event){
                  window.playTrack(event.target.id);
                  console.log(event.target.id);
                })
              }
            }
        };
