extends layout

block content
  div(class='container')
    h1= title
    p Welcome to #{title}
    div(id='login')
      h1 This is an example of the #{title}
      button(id="login-button" class="btn btn-primary") prompt
    div(id='loggedin')
      div(id='user-profile')
      
block scripts
  script(id='user-profile-template' type="text/x-handlebars-template")
    include /javascripts/user-profile-template.handlebars
  script(src='//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0-alpha.1/handlebars.min.js')
  script(src='//code.jquery.com/jquery-1.10.1.min.js')
  script
    include /javascripts/auth-embedded.js