doctype html
html
  head
    title= title
    script(src='//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    link(rel='icon', type='image/ico', href='/images/favicon.ico')
    block style
      link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
  body
    block content
    block scripts
