doctype html
head
  title Spotify Web Playback SDK Quick Start Tutorial
  link(rel='icon', type='image/ico', href='/images/favicon.ico')
body
  h1 Spotify Web Playback SDK Quick Start Tutorial
  h2 Open your console log: 
    code View > Developer > JavaScript Console
  script(src='https://sdk.scdn.co/spotify-player.js')
  block player